# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
Sandvenv/
venv/
env/

# Imágenes y archivos temporales
imagenesCliente/
processed_images/
/tmp/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Datasets grandes
DataSets/

# Modelos entrenados
models/

# Modelos entrenados (muy grandes para GitHub)
models/*.keras
